.mainDiv {
  width: 500px;
  display: block;
  margin: 0 auto;
}

.mainTitle {
  color: #3884ff;
  transform: scale(1);
  transition: transform 2200ms ease-in-out;
  font-family: "Open Sans", sans-serif;
}

.contacts {
  font-family: "Open Sans", sans-serif;
}

ul {
  padding: 0;
}

.error {
  position: absolute;
  top: 0;
  right: 10px;
  width: 300px;
  height: 80px;
  border-radius: 6px;
  background-color: crimson;
  font-family: Helvetica, Arial, sans-serif;
  color: white;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
}
